* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}


.header {
  text-align: center;
  padding-top: 1rem;
  font-weight: 400;

}

.header-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.header-secondary {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 10px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.header-sub {
  display: block;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 12px;

}

.header-special {
  display: block;
  text-transform: uppercase;
  color: crimson;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 8px;
  animation-name: moveUp;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.editor {
  position: absolute;
  font-size: 24px;
  top: 10%;
  left: 5%;
  display: inline-block;
  width: 45%;
  height: 40vh;
}

.canvas {
  position: absolute;
  top: 10%;
  left: 50%;
  display: inline-block;
  width: 45%;
  height: 40vh;
  background-color: lightseagreen;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;

  background-color: rgb(159, 215, 53);
  color: rgb(2, 37, 59);
  padding: 1.5rem 4rem; 
  letter-spacing: 7px;
  border-radius: 100px;
  position: absolute;
  top: 55%;
  right: 40%;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
}
.btn:active {
  transform: translateY(-1px);
}
.btn:hover::after {
  transform: scale(1.5);
}

.output {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background-color: rgb(209, 150, 224);
  padding: 1.5rem 2rem;
  transform: translateX(-50%);
}
