* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Lato", sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  */
  color: #777;
}

/* Styles for page */
/* .wrapper {
  position: relative;
  left: 20%;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  padding: 2rem;
  
}*/
.textBox {
  position: relative;
  top: 10%;
  left: 5%;
  display: inline-block;
  width: 45%;
  height: 40vh;
  background-color: rgb(5, 75, 119);
}
.canvas {
  position: relative;
  top: 10%;
  left: 6%;
  display: inline-block;
  width: 45%;
  height: 40vh;
  background-color: lightseagreen;
}

.button {
background-color: rgb(219, 14, 14);
padding: 1rem;
position: relative;
top: 5rem;
right: 50%;
transform: translateX(55%);
}
